.main {
  margin-top: 44px;
  min-height: calc(100vh - 134px);
}

.menu-list a.is-active {
  background-color: #ff9400 !important;
  color: #fff;
  font-weight: 700;
}

a.is-active {
  font-weight: bold; 
}

.menu-list a:hover {
  background-color: #4f7cd9;
  color: #fff;
  font-weight: 700;
}